body {
    font-family: Arial, sans-serif;

}

.container{

    display: flex;
    flex-direction: row; /* Garante que os elementos fiquem lado a lado */
    justify-content: space-around; /* Ajusta o espaçamento */
    align-items: flex-start; /* Alinha ao topo */
    width: 100%;
}
.grafico {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 50%;
    
  flex-direction: row;

    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;

}

#tabela{
    display: flex;
  flex-direction: row;
  width: 50%;
}
.bar {
    margin: 0 5px;
    text-align: center;
    position: relative;
    
}
.rotulo{
    text-align: center;
}
