<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<h1>Cadastro de Livros</h1>
<form action="../control/livroControl.php?acao=1" method="POST">
    <label for="isbn">ISBN:</label><br>
    <input type="text" id="isbn" name="isbn" required><br><br>

    <label for="titulo">Título:</label><br>
    <input type="text" id="titulo" name="titulo" required><br><br>

    <label for="autor">Autor:</label><br>
    <input type="text" id="autor" name="autor" required><br><br>

    <label for="paginas">Páginas:</label><br>
    <input type="number" id="paginas" name="paginas" required><br><br>

    <label for="editora">Editora:</label><br>
    <input type="text" id="editora" name="editora" required><br><br>

    <button type="submit">Salvar</button>
</form>
</body>
</body>
</html>
