.card-body{
    text-align: center;
    color: blue;
    
    
   

}
.card{
    display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 600px;
  border: 5px solid white;
  border-radius: 10px;
  background-color: aquamarine;
 
}
body{
    background-color: black;
}

input, button{
    border-radius: 10px;
    width: 180px;
    padding-bottom: 10px;
}
p{
    font-weight: bolder;
    font-size: larger;
}
button[type="submit"]{
    color: rgb(9, 161, 42);
    
}
button[type="reset"]{
    color: red;
   
}

