div{
   border: 1px solid rgb(0, 0, 0);
}
div:nth-child(even){
    background-color: rgb(211, 211, 211);
}
div:nth-child(2n+4){
    background-color: rgb(248, 248, 248);
}
div:nth-child(3n){
    background-color: rgb(236, 236, 236);
}


.ms{ 
     background-color: rgb(155, 8, 135);
}
.mf{
     background-color: rgb(255, 255, 255);
}
